.Switcher {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.Option {
  width: 100%;
  padding: 1.25rem 1.5rem;
  font-size: 1.5rem;
  color: #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}

.OptionActive {
  composes: Option;

  font-weight: bold;
  color: #39475d;
  border-bottom: 2px solid #39475d;
}
