.VoteOption {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  font-size: 1.5rem;
}

.InputContainer {

}

.VoteLabel {
  margin-left: 0.5rem;
  font-weight: bold;
}

.VotedLabel {
  composes: VoteLabel;

  color: #1dcd00;
}
