.VoteOption {
  position: relative;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.VoteLabel {
  margin-left: 0.5rem;
  font-weight: bold;
}

.Result {
  position: absolute;
  top: 0;
  right: 0;
}
