.Button {
  padding: 1.25rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #1dcd00;
  color: white;
  border-radius: 2px;
  width: 100%;
}

.Button:hover {
  background-color: #169a00;
  color: #e6e6e6;
}

.Button:disabled {
  background-color: #e6e6e6;
  color: white;
}
