.Content input {
  margin-bottom: 1rem;
}

.Heading {
  margin-bottom: 2rem;
}

.ErrorMessage {
  padding: 1rem 0;
  border: 2px solid #cc4b37;
  margin-bottom: 2rem;
  color: #cc4b37;
}

.SwitchAuth {
  margin-top: 2rem;
  color: #bbb;
}

.SwitchAuthLink {
  margin-top: 1rem;
  color: #39475d;
}
