.Link {
  display: inline-block;
  padding: 1.25rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #1dcd00;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

.Link:hover {
  background-color: #169a00;
  color: #e6e6e6;
}

.LinkSecondary {
  composes: Link;

  color: black;
  background-color: white;
  border: 2px solid black;
}

.LinkSecondary:hover {
  border: 2px solid #666666;
  background-color: #e6e6e6;
  color: #666666;
}
